{% extends 'base.html.twig' %}

{% block body %}
    <h1>Partie entre {{ partie.joueur1.username }} et {{ partie.joueur2.username }}</h1>
    <div class="container">



    {% if partie.joueur1.id == user.id %}
        <div>
            <h2>Cartes de {{ partie.joueur1.username }}</h2>
            <table class="table table-bordered">
                <tr class="info">
                    {% for carte in plateau.mainJ1 %}
                        <td>
                            {{ cartes[carte].categorie.libelle }} {{ cartes[carte].valeur }} {{ cartes[carte].type }}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="success">
                    {% for carte in plateau.mainJ1 %}
                        <td><input type="checkbox"></td>
                    {% endfor %}
                </tr>
            </table>
        </div>


    {% elseif partie.joueur2.id == user.id %}
        <div>
            <h2>Cartes de {{ partie.joueur2.username }}</h2>
            <table class="table table-bordered">
                <tr class="info">
                    {% for carte in plateau.mainJ2 %}
                        <td>
                            {{ cartes[carte].categorie.libelle }} {{ cartes[carte].valeur }} {{ cartes[carte].type }}
                        </td>
                    {% endfor %}
                </tr>
                <tr class="success">
                    {% for carte in plateau.mainJ2 %}
                        <td><input type="checkbox"></td>
                    {% endfor %}
                </tr>
            </table>

        </div>
    {% endif %}
    {{ dump(partie.situation) }}



    {% if tourde == user.id %}
        <a href="{{ path('piocher_carte', {id:partie.id}) }}" class="piocher">Pioche batard</a>
    {% else  %}
        <p>Vous ne pouvez pas jouer, l'adversaire est en train de jouer</p>
    {% endif %}
    </div>
{% endblock %}