{% extends 'base.html.twig' %}

{% block body %}
    <h1>PLATEAU</h1>
    {{ dump(plateau) }}
    <br>
    <h1>CARTE J1</h1>
    {{ dump(partie.situation.mainJ1) }}
    <br>
    <h1>CARTE J2</h1>
    {{ dump(partie.situation.mainJ2) }}
    <br>
    <h1>carte select</h1>
    {{ dump(carteselect) }}
    <br>
    <h1>defausses</h1>
    {{ dump(tapisdef) }}
    <br>
    <h1>defausses cat4</h1>
    {{ dump(def_cat4) }}
    <br>


    <a href="{{ path('afficher_partie', {id:partie.id}) }}">EHFOZJLKEJZLKFJLZKEJFLEKZ</a>

{% endblock %}