{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(partie.situation) }}
    {{ dump(tapis['pose_j1cat2']) }}
    {{ dump(pointJ1) }}
    {{ dump(pointJ2) }}
    <br>
    {{ dump(nbExtra) }}
    <p>partie gg 1</p>
    {{ dump(partieGG_1) }}
    <p>partie gg 2</p>
    {{ dump(partieGG_2) }}

    <p>cumul 1</p>
    {{ dump(cumulPT_j1 ) }}
    <p>cumul 2</p>
    {{ dump(cumulPT_j2 ) }}





{% endblock %}