{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Défiez les FUNNY MONSTERS bientôt !{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/stylefouser.css') }}">
{% endblock %}


{% block font %}
    <link href="https://fonts.googleapis.com/css?family=Andika|Lato" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="content_fouser">
        <h2 id="main_title">Bienvenue {{ user.username }}</h2><br>


        {% block fos_user_content %}
            {% include "@FOSUser/Profile/show_content.html.twig" %}
            <a href="{{path('fos_user_profile_edit') }}"> {{ 'profile.edit.submit'| trans({}, 'FOSUserBundle') }}</a> |
            <a href="{{path('fos_user_change_password') }}">  {{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</a>

        {% endblock fos_user_content %}
        <br>
        <p class="home-button">
            <a href="http://89.234.182.91/jeu">
                <button type="button" class="btn btn-primary btn-xs">Page d'accueil</button>
            </a>
        </p>

    </div>
{% endblock %}

