{% extends '::base.html.twig' %}

{% block title %}Défiez les FUNNY MONSTERS bientôt !{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/countdown.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/stylefouser.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/stylehome.css') }}"/>

{% endblock %}

{% block font %}
    <link href="https://fonts.googleapis.com/css?family=Andika|Lato" rel="stylesheet">
{% endblock %}

{% block header %}
    <header>
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#accueil">
                    <img alt="Logo"  src="{{ asset('assets/img/logo2.png') }}" class="pull-left"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#">Accueil</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="http://89.234.182.91/promo/#parents">Parents</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ path('discutea_forum_homepage') }}">Forum</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ path('classement') }}">Classement</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="http://89.234.182.91/promo/#contact">Contact</a>
                    </li>
                    <li>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}         <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                                    <li><a href="{{ path('joueur_homepage') }}">  Jouer  </a></li>
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <li><a href="{{ path('admin') }}"> Administration</a></li>
                                    {% endif %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                    {% else %}
                                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>


            </div>
            <!-- navbar-collapse -->
        </div>
        <!-- fin de la navigation -->
    </nav>
    </header>
{% endblock %}

{% block body %}

        <div class="container" id="accueil" style="background-color: rgba(255,255,255,0.7); padding:20px; margin-top: 100px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="titre"> Et toi, quel monstres es-tu ? </h1>
                </div>

                <div class="col-lg-6 text-center btn2">
                    <a href="http://89.234.182.91/promo">En savoir plus</a>
                </div>
                <div class="col-lg-6 text-center btn2">
                    <a href="{{ path('fos_user_registration_register') }}">Inscrivez-vous ici !</a>
                </div>
            </div>
        </div>
{% endblock %}

